html {
  /* set up some reusable colours */
  --lilac: #ccf;
  --lightgrey: #999;
}

body {
  background-color: #eee;
  margin: 0;

  /* reduce the width and centre on page: */
  /* max-width: 900px; */
  /* margin: 0 auto; */
}
header {
 text-align: center;
 background: var(--lilac);
}
header h1 {
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  display: block;
  line-height: 2em;
  min-width: 5em;
  padding: 0 4px;
  background: #fcc;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: all .5s;
}
nav a:hover {
  color: #fff;
  background: #caa;
}
main {
  display: flex;
  flex-direction: column;
}
main section {
  box-sizing: border-box;
  /* mobile version: */
  width: 100%;
  min-height: 20em;
  padding: 1em 10px;
  background: #cfc;
  border: 1px solid var(--lightgrey);
  /* required to position the "diamond" below */
  position: relative;
}
footer {
  clear: both;
  padding: .25em 10px;
  text-align: right;
  line-height: 2em;
  background: var(--lilac);
}

/* --- ABSOLUTE POSITIONING --- */

.diamond {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background: var(--lightgrey);
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
}

@media screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }
  main section {
    /* two coloumns: */
    width: 50%;
    /* three coloumns, uncomment below: */
    /* width: 33.33%; */
  }
  .diamond {
    top: calc(50% - 10px);
    left: -10px
  }
}