body {
  background-color: #eee;
  margin: 0;

  /* reduce the width and centre on page: */
  /* max-width: 900px; */
  /* margin: 0 auto; */
}
header {
 text-align: center;
 background: #ccf;
}
header h1 {
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  display: block;
  line-height: 2em;
  width: 10%;
  background: #fcc;
  text-decoration: none;
  color: #333;
  text-align: center;
}
nav a:hover {
  color: #fff;
  background: #caa;
}
main {
  display: flex;
}
main section {
  box-sizing: border-box;
  /* two coloumns: */
  width: 50%;
  /* three coloumns (uncomment the line below): */
  /* width: 33.33%; */
  min-height: 20em;
  padding: 1em 10px;
  background: #cfc;
  border: 1px solid #999;
  /* required to position the "diamond" below */
  position: relative;
}
footer {
  clear: both;
  padding: .25em 10px;
  text-align: right;
  line-height: 2em;
  background: #ccf;
}

/* --- ABSOLUTE POSITIONING --- */

.diamond {
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background: #999;
  position: absolute;
  top: 50%;
  left: -10px;
}